.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
img {
  content: url("../../../assets/icons/visibility.svg");
}

img.active {
  content: url("../../../assets/icons/show.svg");
}

img.active:hover {
  content: url("../../../assets/icons/visibility.svg");
}

img:hover {
  content: url("../../../assets/icons/show.svg");
}
